
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
 
  background-color: #001219 ;
  font-family: "Baloo 2", sans-serif;

}




.logo{
  height:80px;
  width:120px;
}




.bird{
  font-weight: 900;
  color: #BDE4A8;
}

.title{
text-align: center;
display: block;
justify-content: center;

}

.nav-link{
  color:#BDE4A8;
  text-transform: capitalize;
  
  font-size: 20px;
}

.subheading{
  font-weight: 900;
  font-style: italic;
  color: #e9d8a6;
  font-size: 20px;



}










.devicons{
  font-size: 25px;
  color:#C4FCF0;
  font-weight: 200;

}

nav li{
  list-style: none;
  display: inline;
}


.nav-link:hover{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}




.clearfix::after {
  content: "";
  clear: both;
  display: table;
  

}



.list-group-item{
  background: transparent;
  
  color: #e9d8a6;
}





.list-group-item:hover{
  background: transparent;
  color: white;
 
}


.path{
  fill: none;
  stroke: #BDE4A8;
}

.rect{
  fill: none;
  stroke: #BDE4A8;
}

.polygon{
  fill: none;
  stroke: #BDE4A8;
}

circle{
  fill: none;
  stroke: #BDE4A8;
}




.intro{
  color: #e9d8a6;
}





.devicons:hover{
  color: white;
  
}

.navbar{
  display: flex;
  align-items: flex-end;
}

.skills{
  color: #C4FCF0;
}

.techs li{
  list-style: none;
  color: #BDE4A8;
  display: inline;
  padding-right: 5px;

  
}

.stack{
  color: #BDE4A8
}



