body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black ;
  font-family: "Baloo 2", sans-serif;
 
  text-rendering: optimizeLegibility;

}



*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.logo{
  height:80px;
  width:120px;
}

.hr{

    
    margin-bottom: 1rem;
    border: 0;
    margin-top:0;
    border-top: 1px dotted rgba(215, 82, 125, 0.5);
    
  
}

.header{
  display: flex-inline;
  align-items: top;
  justify-content: space-between;
}

.bird{
  font-weight: 900px;
  font-style: italic;
  color: #df577e;
}

.title{
text-align: center;
display: block;
justify-content: center;
}

.nav-link{
  color:#f5bb3e;
  text-transform: capitalize;
  font-style: italic;
}

.subheading{
  font-weight: 900px;
  font-style: italic;
  color: #f5bb3e;
  font-size: 20px;


}



.devicons{
  font-size: 35px;
  padding-left: 3px;
  color: #f5bb3e;
  font-weight: 200;
}

li{
  list-style: none;
  display: inline;
}


.nav-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

p{
  color: #01c29d;
}