
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
 
  background-color: #001219 ;
  font-family: "Baloo 2", sans-serif;

}




.logo{
  height:80px;
  width:120px;
}




.bird{
  font-weight: 900;
  font-style: italic;
  color: #BDE4A8;
}

.title{
text-align: center;
display: block;
justify-content: center;

}

.nav-link{
  color:#BDE4A8;
  text-transform: capitalize;
  font-style: italic;
  font-size: 25px;
}

.subheading{
  font-weight: 900;
  font-style: italic;
  color: #e9d8a6;
  font-size: 20px;


}



.devicons{
  font-size: 25px;
  color:#C4FCF0;
  font-weight: 200;

}

nav li{
  list-style: none;
  display: inline;
}


.nav-link:hover{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}




.clearfix::after {
  content: "";
  clear: both;
  display: table;
  

}



.list-group-item{
  background: transparent;
  
  color: #e9d8a6;
}





.list-group-item:hover{
  background: transparent;
  color: white;
 
}





.intro{
  color: #e9d8a6;
}





.devicons:hover{
  color: white;
  
}

.navbar{
  display: flex;
  align-items: flex-end;
}

.skills{
  color: #C4FCF0;
}

.techs li{
  list-style: none;
  color: #BDE4A8;

  
}

.stack{
  color: #BDE4A8
}



